{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/style/css_file1.css' %}">
</head>

<body>
  <!-- Think of how to add navbar to base html -->
  <header class="homepage_header">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg">
        <a href="{% url 'logio_index' %}" class="navbar-brand">Logo</a>
        <button class="navbar-toggler" type="menu" data-toggle="collapse" data-target="#mynavbar">
          <i class="fas fa-layer-group"></i>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="{% url 'all_article' %}" class="nav-link">View all</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'submit_article' %}" class="nav-link">Add Article</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'user_all_article' %}" class="nav-link">{{user.username}}'s Articles</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="{% url 'register' %}" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <div class=" d-flex justify-content-center ">
        <div class="special_icon">
          <img src="{% static '/images/medal.jpg' %}" alt="medal here" class="BA_tag">
        </div>
      </div>
      <div class="d-flex justify-content-center ">
        <img src="{% static '/images/545905.jpg' %}" alt="" class="BA_img img-fluid" id="BA_img">
      </div>
      <div class="d-flex justify-content-center">
        <div class="BA_text">
          <div class="BA_text_title  text-center">
            <p id="font_small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, illo!</p>
          </div>
          <div class="BA_text_p text-center pb-1" id="fadeshow1">
            <hr>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque beatae dolorum minima, placeat
            cupiditate facilis quo dolor at! Iure provident distinctio veritatis nobis maxime laborum odio
            eveniet ab, repellendus et?
          </div>
        </div>
      </div>
    </div>
  </header>
  <hr>
  <main>
    <section class="section-1">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="pray">
              <img src="{% static '/images/just_legs.jpeg' %}" alt="Legs here" class="" />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="panel text-left">
              <h1>Mr. Devid Smith</h1>
              <p class="pt-4">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere iure adipisci harum ducimus
                accusantium, repudiandae aperiam
                voluptatum, id ex ratione omnis reiciendis possimus officiis.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi vitae, tenetur quidem eum aliquid vel
                labore sint placeat
                ad deserunt consectetur fugit ullam. Eius unde neque ducimus obcaecati ipsum quos vero totam recusandae
                hic
                expedita nemo sit, illum harum. Quisquam impedit ullam itaque facere et ad molestiae quod reprehenderit
                excepturi!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>



  <!-- Set footer in base html -->
  <footer>
    <div class="container-fluid p-0">
      <div class="row text-left">
        <div class="col-md-5 col-sm-5">
          <h4 class="text-light">About us</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum maxime ea similique
            illum corrupti</p>
        </div>
        <div class="col-md-5 col-sm-12">
          <h4 class="text-light">Newsletter</h4>
          <p class="text-muted">Stay Updated</p>
          <form class="form-inline">
            <div class="col pl-0">
              <div class="input-group pr-5">
                <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2"
                  placeholder="Email">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-2 col-sm-12">
          <h4 class="text-light">Follow Us</h4>
          <p class="text-muted">Let us be social</p>
          <div class="column text-light">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
  </footer>






  <!-- Scripts set in base html -->
  <script src="https://kit.fontawesome.com/c740ddbf6f.js" crossorigin="anonymous"></script>
  <script src="{% static '/js/js_file1.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</body>

</html>