{% extends 'base.html' %}
{% load static %}



{% block content %}
{% if my_work|length == 0 %}
  <div class="blank_space"></div>
  <div class="container text-center">
    <h3>You haven't added any articles yet!!!!!!!!!!</h3>
  </div>
{% else %}
<div class="container-fluid">
  <div class="row">
    {%for work in my_work%}
    <div class="col-lg-4 col-md-6 col-sm-12 ">
      <div class="card m-5 card_attr">
        <img class="card-img-top" src="{{work.article_image_link}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
              <a href="{% url 'user_specific_article' art.id %}">{{work.article_title}}</a>
          </h5>
          <p class="card-text">
            {{work.article_description}}
          </p>
        </div>
        <div class="card-body">
          <p class="card-link text-right">by {{work.article_author}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}


<div class="blank_space"></div>
{% endblock %}